export KOPS_STATE_STORE=s3://cloud-platform-kops-state

# Credentials for `kops get clusters` and `aws eks list-clusters`
export AWS_REGION="eu-west-2"
export AWS_ACCESS_KEY_ID=xxx
export AWS_SECRET_ACCESS_KEY=xxx

# Credentials able to access the S3 bucket containing our terraform state files
export TF_STATE_BUCKET_REGION="eu-west-1"
export TF_STATE_BUCKET_AWS_ACCESS_KEY_ID=${AWS_ACCESS_KEY_ID}
export TF_STATE_BUCKET_AWS_SECRET_ACCESS_KEY=${AWS_SECRET_ACCESS_KEY}
