# TODO - complete this file. Currently there is also a dependency on a separate AWS_PROFILE to list the EKS clusters

# Credentials able to access the S3 bucket containing our terraform state files
export AWS_ACCESS_KEY=xxxxx
export AWS_SECRET_ACCESS_KEY=xxxxx

export KOPS_STATE_STORE=s3://cloud-platform-kops-state
